*~
*.swp
.ICEauthority
.Xauthority
.acme-ffcert.log
.acme/
.bash_history
.bash_logout
.bashrc_local
.bashrc_ubuntu
.bogofilter/
.cache/
.compiz/
.config/
.connections-agent.log
.emacs.d/
.gnome/
.gnupg/
.k5login
.local/
.macromedia/
.mozilla/
.pki/
.profile
.purple/
.python_history
.remmina/
.ssh/known_hosts
.sudo_as_admin_successful
.to_backup
.viminfo
.xsession-errors
.xsession-errors.old
Desktop/
Documents/
Downloads/
Pictures/
Videos/
amazon_bin/
bin/
brazil-pkg-cache/
dev_home
ericplvn_old/
examples.desktop
windows-home
ws