*~
*.swp
.ICEauthority
.Private
.Xauthority
.account
.acme-ffcert.log
.acme/
.anyconnect
.apport-ignore.xml
.arduino15/
.aws
.bash_history
.bash_logout
.bash_sessions/
.bashrc.old
.bashrc_local
.bashrc_ubuntu
.bogofilter/
.cache/
.CFUserTextEncoding
.cisco/
.compiz/
.config/
.connections-agent.log*
.dbus
.dmrc
.emacs.d/
.ecryptfs
.envimprovement
.esd_auth
.fontconfig/
.gimp*
.gconf/
.gconfd/
.gnome/
.gnome2/
.gnote/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.history
.icons/
.java
.jssc
.k5login
.kshrc
.lesshst
.local/
.macromedia/
.midway/
.mozilla/
.nx
.oracle_jre_usage/
.pki/
.post-review-cookies.txt
.profile
.psql_history
.pulse-cookie
.pulse/
.purple/
.PyCharmCE2017.2/
.python_history
.qt/
.rbenv/
.remmina/
.rnd
.skipbuddy
.ssh/agent.out*
.ssh/authorized_keys*
.ssh/config
.ssh/id_rsa
.ssh/id_rsa.*
.ssh/known_hosts
.subversion/
.sudo_as_admin_successful
.teensy
.themes/
.thumbnails/
.to_backup
.toolbox/
.Trash
.vboxclient*
.viminfo
.vimrc
.vnc
.wget-hsts
.xbindkeys*
.xorgxrdp.12.log
.xorgxrdp.14.log
.xrdp-errors
.xsession-errors
.xsession-errors.old
.zcompdump
.zshrc
Applications/
Arduino/
Desktop/
Documents/
Documents
Downloads/
DXADevCodeDeploy/
InstallerFiles/
Library/
Movies/
Music/
Pictures/
Public/
Videos/
Workspaces/
amazon_bin/
backups/
bin/
brazil-pkg-cache/
code/
core*
dev_home
ericplvn_old*
ericplvn_ubuntu*
examples.desktop
folders.txt
local/
lfs/
teensy/
tmux-*
windows-home
ws
var/
